<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="title">Crear Producto</span>
                    </div>
                    <form class="mt-4">
                        <div class="mb-3">
                          <label for="producto" class="form-label">Producto</label>
                          <input type="text" class="form-control" id="producto">
                        </div>
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria</label>
                            <input type="text" class="form-control" id="categoria">
                        </div>
                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">Ubicacion</label>
                            <input type="text" class="form-control" id="ubicacion">
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="precio">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-secondary btn-lg" routerLink="/">Volver</button>
                            <button type="submit" class="btn btn-success btn-lg">Aceptar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
